{
    "presets": [["next/babel"]],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@pages": "./src/pages",
                    "@layouts": "./src/layouts",
                    "components": "./src/components",
                    "@styles": "./src/styles",
                    "@services": "./src/services",
                    "@models": "./src/models",
                    "@blog": "./blog",
                    "@contents": "./blog/contents",
                    "@authors": "./blog/authors",
                    "@tailwind": "./src/services/tailwind/index.ts",
                    "~": "./"
                }
            }
        ]
    ]
}
