.h1
    @apply text-5xl text-gray-900 dark:text-gray-100 font-medium mt-8 mb-4

.h2
    @apply text-4xl text-gray-900 dark:text-gray-100 my-5

.h3
    @apply text-2xl text-gray-800 dark:text-gray-200 my-4

.h4
    @apply text-xl text-gray-700 dark:text-gray-300 my-4 font-normal

.h5
    @apply text-lg text-gray-600 dark:text-gray-400 my-3 font-normal

.h6
    @apply text-sm text-gray-400 dark:text-gray-400 my-2 font-light

.p
    @apply text-gray-600 dark:text-gray-300 my-3 text-lg
    line-height: 1.75

.a
    @apply text-blue-400 no-underline p-1 rounded-sm transition-colors

    &:hover
        background-color: rgba(0,123,255,.1)

.ul
    @apply pl-2 text-gray-600 dark:text-gray-300 list-none

.li
    @apply text-gray-600 dark:text-gray-300 mb-2

    &::before
        @apply mr-1
        content: "ー"

.figure
    @apply bg-preload dark:bg-preload-dark rounded-sm overflow-hidden mx-0 my-2
    box-shadow: 0 8px 25px rgba(0 0 0 / 21%)

    &.png
        @apply bg-transparent dark:bg-transparent
        box-shadow: unset !important

    & > div
        display: block !important

.strong
    @apply p-1 font-sans text-blue-400 inline rounded
    background-color: rgba(0,123,255,.075)